:root{
    --background: #D8B2D8;
    --border: #59518f;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex: 1;
    justify-content: center;
}

#box{
    background: white;
    margin-top: 50px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    /* box-shadow: #15181d 0px 8px 12px; */
    box-shadow: 6px 5px 27px -3px rgba(0,0,0,0.71);
    display: flex;
    flex-direction: column;
}

#top{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

#content{
    padding: 5px;
    border-top: 1px dashed rgb(190, 189, 189);
    border-bottom: 1px dashed rgb(190, 189, 189);
}

#content p{
    text-align: justify;
    margin: 3px 0;
}

/* -------- */

 footer{
    box-sizing: border-box;
    padding-top: 8px;
    display: inline-flex;
    justify-content: center;
} 

footer a{
    text-decoration: none;
}

footer a+a{
    margin-left: 8px;
}

#github{
    background: url(images/git2.png) no-repeat;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
}
#linkedin{
    background: url(images/link.png) no-repeat;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
}
#web{
    background: url(images/web.png) no-repeat;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
}